HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
BODY {
	MARGIN: 0px; HEIGHT: 100%
}
A:link {
	FONT-WEIGHT: bold; COLOR: #000066; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #000066; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ff8b3e; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
TR {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-ALIGN: left
}
P {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 5px 0px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.componentheading {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 5px 0px; COLOR: #666666; LINE-HEIGHT: 13px; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
.componentheading {
	PADDING-TOP: 10px
}
.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 18px; BACKGROUND: url(../images/bus_seperator_horiz.png) repeat-x left bottom; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; WIDTH: 100%; COLOR: #28529c; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 35px; TEXT-ALIGN: left
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/bus_bullet_orange.png); LINE-HEIGHT: 15px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #999999; TEXT-ALIGN: left
}
.modifydate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: bottom; COLOR: #999999; HEIGHT: 30px; TEXT-ALIGN: left
}
.createdate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; COLOR: #999999; PADDING-TOP: 0px; HEIGHT: 25px
}
.clr {
	CLEAR: both
}
#page_bg {
	BACKGROUND: #999999; HEIGHT: 100%
}
DIV.mosimage_caption {
	FONT-SIZE: 10px; COLOR: #666666
}
DIV.center {
	TEXT-ALIGN: center
}
TABLE#main {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV.blog_more {
	MARGIN-TOP: 30px
}
DIV.syndicate DIV {
	TEXT-ALIGN: center
}
TABLE.minimal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
TABLE.minimal TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 100px; PADDING-TOP: 0px
}
TD.left_shadow {
	BACKGROUND: url(../images/bus_shadow_l.png) repeat-y; WIDTH: 17px
}
TD.right_shadow {
	BACKGROUND: url(../images/bus_shadow_r.png) repeat-y; WIDTH: 17px
}
TD.left_bot_shadow {
	BACKGROUND: url(../images/bus_shadow_bl.png) no-repeat; WIDTH: 17px; HEIGHT: 34px
}
TD.right_bot_shadow {
	BACKGROUND: url(../images/bus_shadow_br.png) no-repeat; WIDTH: 17px; HEIGHT: 34px
}
TD.bottom {
	BACKGROUND: url(../images/bus_shadow_b.png) repeat-x left bottom; VERTICAL-ALIGN: top; COLOR: #999999; LINE-HEIGHT: 30px; HEIGHT: 34px; TEXT-ALIGN: center
}
TD.top {
	BACKGROUND: url(../images/bus_shadow_t.png) no-repeat left bottom; VERTICAL-ALIGN: top; COLOR: #999999; LINE-HEIGHT: 30px; HEIGHT: 34px; TEXT-ALIGN: center
}
TD.wrapper {
	WIDTH: 100%
}
#topnav_links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bus_bluebar_top.png) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 17px
}
#links {
	
}
#topnav_links UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topnav_links LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; HEIGHT: 17px
}
#topnav_links A {
	PADDING-RIGHT: 30px; DISPLAY: block; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/bus_seperator_bluebar.png) no-repeat 0px 3px; FLOAT: none; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #666666; LINE-HEIGHT: 17px; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#topnav_links A:hover {
	COLOR: #ff9900
}
#header {
	FLOAT: left; WIDTH: 100%; HEIGHT: 90px
}
#tabbar {
	BACKGROUND: url(../images/bus_tabbar_bg.png) repeat-x; FLOAT: left; WIDTH: 100%; PADDING-TOP: 4px; HEIGHT: 29px
}
#colorbar {
	BACKGROUND: #ff6600; FLOAT: left; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 7px
}
#contentarea {
	BACKGROUND: #efefef; FLOAT: left; WIDTH: 100%
}
TABLE.contentarea {
	WIDTH: 100%; max-width: 100%
}
#pathway {
	MARGIN-TOP: 10px; MARGIN-LEFT: 10px
}
TD.sidenav {
	
}
DIV.forcewidth {
	OVERFLOW: hidden; WIDTH: 194px
}
TD.seperator {
	BACKGROUND: url(../images/bus_seperator_vert.png) repeat-y center top
}
TD.middle {
	WIDTH: 100%
}
DIV.bluefade_t {
	BACKGROUND: url(../images/bus_bluefade_t.png) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 194px; HEIGHT: 10px
}
DIV.bluefade_m {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../images/bus_bluefade_m.png) repeat-y; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 194px; PADDING-TOP: 8px
}
DIV.bluefade_m TD {
	COLOR: #ffffff
}
DIV.bluefade_b {
	BACKGROUND: url(../images/bus_bluefade_b.png) no-repeat; FLOAT: left; MARGIN-BOTTOM: 8px; OVERFLOW: hidden; WIDTH: 194px; HEIGHT: 10px
}
DIV.menu_t {
	BACKGROUND: url(../images/bus_menu_t.png) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 194px; HEIGHT: 10px
}
DIV.menu_m {
	BACKGROUND: url(../images/bus_menu_m.png) repeat-y; FLOAT: left; WIDTH: 194px
}
DIV.menu_b {
	BACKGROUND: url(../images/bus_menu_b.png) no-repeat; FLOAT: left; MARGIN-BOTTOM: 8px; OVERFLOW: hidden; WIDTH: 194px; HEIGHT: 10px
}
A.mainlevel:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/bus_menu_item_bg.png); WIDTH: 184px; COLOR: #666666; TEXT-INDENT: 25px; LINE-HEIGHT: 30px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 30px; TEXT-ALIGN: left
}
A.mainlevel:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/bus_menu_item_bg.png); WIDTH: 184px; COLOR: #666666; TEXT-INDENT: 25px; LINE-HEIGHT: 30px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 30px; TEXT-ALIGN: left
}
A.mainlevel:hover {
	BACKGROUND-POSITION: 0px -30px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.mainlevel#active_menu {
	BACKGROUND-POSITION: 0px -60px
}
A.mainlevel#active_menu:hover {
	COLOR: #666666
}
DIV#left DIV.moduletable {
	BACKGROUND: url(../images/bus_seperator_horiz.png) repeat-x; FLOAT: left; MARGIN: 15px 5px 5px 4px; WIDTH: 194px; PADDING-TOP: 10px
}
TABLE#greybox TD.smallbox {
	BACKGROUND: url(../images/bus_greybox_small_b.png) #d6d6d6 no-repeat left bottom; PADDING-BOTTOM: 11px; WIDTH: 271px
}
TABLE#greybox TD.smallbox DIV.moduletable {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../images/bus_greybox_small_t.png) no-repeat left top; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TABLE#greybox TD.largebox {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/bus_greybox_large_b.png) #d6d6d6 no-repeat left bottom; PADDING-BOTTOM: 11px; WIDTH: 550px; PADDING-TOP: 10px
}
TABLE#greybox TD.largebox DIV.moduletable {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TABLE#greybox TD.spacer {
	WIDTH: 80px
}
TABLE#greybox H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -5px 0px 5px; PADDING-TOP: 0px
}
TABLE#greybox A:link {
	COLOR: #333333
}
TABLE#greybox A:visited {
	COLOR: #333333
}
TABLE#greybox A:hover {
	COLOR: #ff6600
}
DIV#mainbody {
	MARGIN-LEFT: 30px; WIDTH: 94%; MARGIN-RIGHT: 30px
}
DIV#footer {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/bus_bluebar_bot.png) repeat-x; COLOR: #9cb8e2; LINE-HEIGHT: 17px; HEIGHT: 17px; TEXT-ALIGN: center
}
INPUT.button {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/bus_button_bg.png) repeat-x; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #cccccc 1px solid; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 20px
}
.inputbox {
	FONT-SIZE: 11px
}
TABLE.moduletable {
	MARGIN: 0px 0px 15px; WIDTH: 100%
}
TABLE.moduletable TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#content-pane .tab-page {
	
}
TABLE.contentpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cccccc; TEXT-ALIGN: left
}
A.contentpagetitle:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #666666; LINE-HEIGHT: 25px; PADDING-TOP: 10px; HEIGHT: 25px; TEXT-ALIGN: left
}
A.contentpagetitle:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #666666; LINE-HEIGHT: 25px; PADDING-TOP: 10px; HEIGHT: 25px; TEXT-ALIGN: left
}
A.contentpagetitle:hover {
	COLOR: #137ec2
}
A.sublevel:link {
	DISPLAY: block; PADDING-LEFT: 11px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; COLOR: #666666; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
A.sublevel:visited {
	DISPLAY: block; PADDING-LEFT: 11px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; COLOR: #666666; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
A.sublevel:hover {
	FONT-WEIGHT: bold; BACKGROUND: #026604; COLOR: #99cc00; TEXT-DECORATION: none
}
A.category:link {
	
}
A.category:visited {
	
}
A.category:hover {
	
}
A.pagenav {
	
}
A.pagenav:visited {
	
}
A.pagenav:hover {
	
}
.frontpageheader {
	
}
.newsfeedheading {
	
}
.newsfeeddate {
	
}
.fase4rdf A:link {
	
}
.fase4rdf A:hover {
	
}
DIV#mainbody TD.sectiontableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; BORDER-LEFT: #efefef 1px solid; COLOR: #6b6d6b; PADDING-TOP: 4px
}
TD.smalldark {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666
}
TABLE.pollstableborder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TABLE.pollstableborder TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
TD.sectiontableentry1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.sectiontableentry2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
.ontab {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #666666 1px solid; CURSOR: pointer; COLOR: #cc0000; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.offtab {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #999999 1px solid; CURSOR: pointer; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #bcbcbc; TEXT-ALIGN: center
}
.tabpadding {
	
}
.tabheading {
	BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
H4 {
	
}
H5 {
	
}
H6 {
	
}
HR {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: #999999; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; HEIGHT: 1px
}
HR.separator {
	
}
TD.buttonheading IMG {
	PADDING-LEFT: 5px
}
SPAN.highlight {
	BACKGROUND: #ffffcc
}
TABLE.contenttoc {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 3px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.contenttoc TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #333333; PADDING-TOP: 5px
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.contentdescription {
	TEXT-ALIGN: left
}
.category {
	
}
.poll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.pollstableborder {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; TEXT-DECORATION: none
}
TABLE.searchinto {
	WIDTH: 100%
}
TABLE.searchintro TD {
	FONT-WEIGHT: bold; COLOR: #000000
}
.pagenav {
	FONT-WEIGHT: normal
}
.pagenavbar {
	
}
.content_rating {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.content_vote {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.back_button {
	MARGIN-TOP: 40px; TEXT-ALIGN: center
}
.readon {
	PADDING-RIGHT: 20px; MARGIN-TOP: 5px; DISPLAY: block; FLOAT: right; LINE-HEIGHT: 14px; MARGIN-RIGHT: 35px; HEIGHT: 16px
}
STRONG {
	COLOR: #112544
}
#nav {
	MARGIN-LEFT: 5px
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav A {
	FLOAT: none
}
#nav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: url(../images/bus_tab_norm_l.png) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2px; PADDING-TOP: 0px; HEIGHT: 25px
}
#nav LI A {
	PADDING-RIGHT: 21px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/bus_tab_norm_r.png) no-repeat 100% 100%; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #666666; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; HEIGHT: 25px; TEXT-DECORATION: none
}
DIV#nav LI:hover {
	BACKGROUND: url(../images/bus_tab_over_l.png) no-repeat left bottom
}
DIV#nav LI.sfhover {
	BACKGROUND: url(../images/bus_tab_over_l.png) no-repeat left bottom
}
DIV#nav LI:hover A {
	BACKGROUND: url(../images/bus_tab_over_r.png) no-repeat right bottom; COLOR: #29539e
}
DIV#nav LI.sfhover A {
	BACKGROUND: url(../images/bus_tab_over_r.png) no-repeat right bottom; COLOR: #29539e
}
DIV#nav LI.active A {
	BACKGROUND: url(../images/bus_tab_active_r.png) no-repeat right bottom; COLOR: #ffffff
}
DIV#nav LI.active {
	BACKGROUND: url(../images/bus_tab_active_l.png) no-repeat left bottom
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: Verdana, Helvetica; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.content {
	FONT-SIZE: 11px; LEFT: 5px; COLOR: #111111; FONT-FAMILY: Verdana,Helvetica; TEXT-ALIGN: left
}
A.textlink {
	TEXT-ALIGN: right
}
.tdcontent {
	FONT-SIZE: 11px; COLOR: #111111; FONT-FAMILY: Verdana,Helvetica; TEXT-ALIGN: center
}
SPAN.pl_tab_l {
	LEFT: 0px; BACKGROUND-IMAGE: url(../images/bus_tab_over_l.png); VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
SPAN.pl_tab_r {
	LEFT: 0px; BACKGROUND-IMAGE: url(../images/bus_tab_over_r.png); VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
.tiny {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none
}
