HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
A {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana,Tahoma
}
BODY {
	COLOR: #000
}
TD {
	COLOR: #000
}
P {
	COLOR: #000
}
UL {
	COLOR: #000
}
A {
	COLOR: #000
}
INPUT {
	COLOR: #000
}
SELECT {
	COLOR: #000
}
TEXTAREA {
	COLOR: #000
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TEXTAREA {
	BORDER-RIGHT: #d0c8ba 1px solid; BORDER-TOP: #d0c8ba 1px solid; OVERFLOW: auto; BORDER-LEFT: #d0c8ba 1px solid; BORDER-BOTTOM: #d0c8ba 1px solid
}
.document {
	WIDTH: 100%; ; WIDTH: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'100%'); min-width: 1000px
}
DIV.headico {
	Z-INDEX: 7; LEFT: -10px; POSITION: relative
}
DIV.level3 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; PADDING-TOP: 0px; HEIGHT: 20px
}
TD.level3 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; PADDING-TOP: 0px
}
.hidehand {
	
}
.no-line {
	TEXT-DECORATION: none
}
.blue {
	COLOR: #0050a0
}
.white {
	COLOR: #fff
}
.gray {
	COLOR: #646464
}
.black {
	COLOR: #000
}
.black_b {
	BACKGROUND: #000
}
.red {
	COLOR: #b31736
}
.red_b {
	BACKGROUND: #b31736
}
.yellow {
	COLOR: #f0be32
}
.yellow_b {
	BACKGROUND: #f0be32
}
.tan {
	COLOR: #d0c8ba
}
.tan_b {
	BACKGROUND: #d0c8ba
}
.darkred {
	COLOR: #940928
}
.black_border {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000
}
.red_border {
	BORDER-LEFT-COLOR: #b31736; BORDER-BOTTOM-COLOR: #b31736; BORDER-TOP-COLOR: #b31736; BORDER-RIGHT-COLOR: #b31736
}
.yellow_border {
	BORDER-LEFT-COLOR: #f0be32; BORDER-BOTTOM-COLOR: #f0be32; BORDER-TOP-COLOR: #f0be32; BORDER-RIGHT-COLOR: #f0be32
}
.tan_border {
	BORDER-LEFT-COLOR: #d0c8ba; BORDER-BOTTOM-COLOR: #d0c8ba; BORDER-TOP-COLOR: #d0c8ba; BORDER-RIGHT-COLOR: #d0c8ba
}
.white_border {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 17px; MARGIN: 0px 0px 13px; COLOR: #646464
}
.thin {
	FONT-WEIGHT: normal; FONT-SIZE: 17px; COLOR: #646464
}
.letter {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 7px; COLOR: #000
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN: 0px 0px 13px; COLOR: #646464
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px 0px 15px; COLOR: #646464
}
.h1intext {
	FONT-WEIGHT: normal; FONT-SIZE: 17px; MARGIN: 40px 0px 13px; COLOR: #646464
}
.h2intext {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; MARGIN: 40px 0px 13px; COLOR: #646464
}
.h3intext {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; MARGIN: 40px 0px 13px; COLOR: #646464
}
.sitemap1 {
	FONT-SIZE: 15px
}
.sitemap2 {
	FONT-SIZE: 13px
}
.sitemap3 {
	FONT-SIZE: 11px
}
.sitemap4 {
	FONT-SIZE: 9px
}
.sitemap-level1 {
	MARGIN-LEFT: 0px
}
.sitemap-level2 {
	MARGIN-LEFT: 7px
}
.sitemap-level3 {
	MARGIN-LEFT: 14px
}
.sitemap-level4 {
	MARGIN-LEFT: 21px
}
.sitemap-node-last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 15px; PADDING-TOP: 4px
}
.sitemap-node-default {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.sitemap-first-margin {
	MARGIN-TOP: 4px
}
.line-yellow {
	BACKGROUND: url(/img/sitemap-line-yellow.gif) repeat-y left 50%
}
.line-red {
	BACKGROUND: url(/img/sitemap-line-red.gif) repeat-y left 50%
}
.line-black {
	BACKGROUND: url(/img/sitemap-line-black.gif) repeat-y left 50%
}
.line-gray {
	BACKGROUND: url(/img/sitemap-line-gray.gif) repeat-y left 50%
}
.last-yellow {
	BACKGROUND: url(/img/sitemap-lastbranch-yellow.gif) no-repeat left top
}
.last-red {
	BACKGROUND: url(/img/sitemap-lastbranch-red.gif) no-repeat left top
}
.last-black {
	BACKGROUND: url(/img/sitemap-lastbranch-black.gif) no-repeat left top
}
.last-gray {
	BACKGROUND: url(/img/sitemap-lastbranch-gray.gif) no-repeat left top
}
INPUT.intext {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #aaa 2px solid; BORDER-LEFT: #aaa 2px solid; WIDTH: 170px; BORDER-BOTTOM: #ccc 1px solid
}
INPUT.rm {
	MARGIN-RIGHT: 5px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.spacer {
	VISIBILITY: hidden
}
IMG.active {
	CURSOR: pointer
}
.hand {
	CURSOR: pointer
}
.bold {
	FONT-WEIGHT: bold
}
.bigger {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
.bigger P {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
.bigger A {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
.higher {
	LINE-HEIGHT: 1.7
}
.comment {
	FONT-SIZE: 9px
}
.commenthigh {
	FONT-SIZE: 9px; COLOR: #646464; LINE-HEIGHT: 1.7
}
.inset-font {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.bignum {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.biggernum {
	FONT-SIZE: 17px
}
.biggernumbold {
	FONT-WEIGHT: bold; FONT-SIZE: 17px
}
.avgnum {
	FONT-SIZE: 14px
}
.defnum {
	FONT-SIZE: 12px
}
.hugenum {
	FONT-SIZE: 21px
}
.bigblue {
	FONT-SIZE: 13px; COLOR: #0050a0; LINE-HEIGHT: 1.5
}
.biggray {
	FONT-SIZE: 13px; COLOR: #646464; LINE-HEIGHT: 1.5
}
.bigred {
	FONT-SIZE: 13px; COLOR: #b31736; LINE-HEIGHT: 1.5
}
.bigyellow {
	FONT-SIZE: 13px; COLOR: #f0be32; LINE-HEIGHT: 1.5
}
.bigtan {
	FONT-SIZE: 13px; COLOR: #d0c8ba; LINE-HEIGHT: 1.5
}
.smallblue {
	FONT-SIZE: 9px; COLOR: #0050a0
}
.smallgray {
	FONT-SIZE: 9px; COLOR: #646464
}
.smallred {
	FONT-SIZE: 9px; COLOR: #b31736
}
.smallyellow {
	FONT-SIZE: 9px; COLOR: #f0be32
}
.smalltan {
	FONT-SIZE: 9px; COLOR: #d0c8ba
}
A FONT {
	
}
.left {
	PADDING-RIGHT: 20px
}
.center {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.right {
	PADDING-LEFT: 20px
}
TABLE.padding3 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.yellow {
	BACKGROUND: #f0be32
}
TABLE.red {
	BACKGROUND: #b31736
}
TABLE.tan {
	BACKGROUND: #d0c8ba
}
TABLE.black {
	BACKGROUND: #000000
}
TABLE.secondMenu {
	HEIGHT: 20px
}
TABLE.secondMenu TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; WHITE-SPACE: nowrap
}
TABLE.secondMenu TD.active {
	BACKGROUND: #ffffff
}
.thirdMenu {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px
}
TABLE#twocols TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
TABLE.resume1 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.right-pad10 TD {
	PADDING-RIGHT: 10px
}
TABLE.brd TD {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.inset-left-active {
	BACKGROUND: url(/img/inner_menu_active_left.gif); WIDTH: 3px; HEIGHT: 20px
}
.inset-active {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/img/inner_menu_active_bkg.gif) repeat-x; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
.inset-right-active {
	BACKGROUND: url(/img/inner_menu_active_right.gif); WIDTH: 3px; HEIGHT: 20px
}
.inset {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sitemap-ttl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.see-also {
	PADDING-LEFT: 5px
}
.see-also-head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/img/title_bkg_yellow.gif) #f0be32 no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; HEIGHT: 20px
}
.see-also-head-red {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/img/title_bkg_red.gif) #b31736 no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; HEIGHT: 20px
}
.see-also-head-black {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/img/title_bkg_black.gif) #252525 no-repeat left 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; HEIGHT: 20px
}
.see-also-head-tan {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/img/title_bkg_tan.gif) #d0c8ba no-repeat left 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; HEIGHT: 20px
}
.see-also-body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 29px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.see-also-body-main {
	PADDING-RIGHT: 20px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 13px
}
.see-also-row {
	MARGIN-BOTTOM: 7px; HEIGHT: 1%
}
.see-also-bull {
	MARGIN-TOP: 2px; BACKGROUND: url(/img/bullet_arr.gif) #000 no-repeat 50% bottom; FLOAT: left; MARGIN-RIGHT: -30px
}
.see-also-text {
	FONT-SIZE: 9px; MARGIN-LEFT: 30px
}
UL {
	MARGIN: 2px 0px 2px 15px
}
UL.list-simple {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.list-simple-lev2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.list-simple-with-buls {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 15px; PADDING-TOP: 0px
}
UL.list-simple-with-buls LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px
}
UL.phone-features {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 10px
}
UL.doclist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.doclist LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
TD.promo-sep {
	BACKGROUND: url(/img/promo_sep.gif) no-repeat right top; WIDTH: 5px
}
TABLE.zone-nav {
	WIDTH: 62px; BORDER-COLLAPSE: collapse; HEIGHT: 62px
}
TABLE.zone-nav TD {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #e89b31; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.operator-head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 9px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #e6911e 1px solid
}
.fixed-div {
	LEFT: 0px; ; LEFT: expression(document.getElementsByTagName('body')[0].scrollLeft + "px"); POSITION: absolute; TOP: 0px; ; TOP: expression(document.getElementsByTagName('body')[0].scrollTop + "px")
}
#root {
	FLOAT: left; ; WIDTH: expression((document.documentElement.clientWidth||document.body.clientWidth)<780?'780px':'100%'); min-width: 780px
}
#sub-topmenu {
	BACKGROUND: url(/img/sub_topmenu_back.jpg) #efbe33 repeat-y; WIDTH: 100%; HEIGHT: 10px
}
TABLE.submenu TD {
	PADDING-BOTTOM: 7px
}
TABLE.submenu TD IMG {
	MARGIN-LEFT: 15px
}
.sub-pad-top {
	PADDING-TOP: 15px
}
HR.yellow {
	BORDER-LEFT-COLOR: #f0be32; BORDER-BOTTOM-COLOR: #f0be32; BORDER-TOP-COLOR: #f0be32; HEIGHT: 1px; BORDER-RIGHT-COLOR: #f0be32
}
HR.tan {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #d0c8ba; MARGIN-BOTTOM: 8px; BORDER-LEFT: 0px; COLOR: #d0c8ba; BORDER-BOTTOM: 0px; HEIGHT: 2px
}
DIV#qList DIV {
	MARGIN-BOTTOM: 20px
}
DIV.resume {
	MARGIN: 34px 0px 0px
}
DIV.resume P {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
DIV.resume SELECT {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
DIV.resume INPUT {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
DIV.resume LABEL {
	FONT-SIZE: 13px; LINE-HEIGHT: 1.5
}
DIV.resume INPUT {
	WIDTH: 190px
}
DIV.resume SELECT {
	WIDTH: 190px
}
DIV.resume INPUT.auto {
	WIDTH: auto
}
DIV.resume SELECT.auto {
	WIDTH: auto
}
DIV.resume .horInput {
	FLOAT: left; MARGIN-RIGHT: 5px
}
DIV.resume .specs SELECT {
	WIDTH: 170px
}
DIV.salesMap {
	MARGIN-BOTTOM: 10px; WIDTH: 430px; HEIGHT: 415px; TEXT-ALIGN: left
}
DIV.salesSalon {
	MARGIN-BOTTOM: 30px
}
DIV.salesSalon .scheme {
	MARGIN-BOTTOM: 10px
}
DIV.salesSalon .text {
	MARGIN-BOTTOM: 10px
}
.smallBanners TD {
	VERTICAL-ALIGN: top
}
.smallBanners TABLE {
	WIDTH: 100%
}
.smallBanners .crossbar {
	
}
#eval_faq {
	PADDING-TOP: 20px
}
#eval_faq #marks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#eval_faq #marks DIV {
	MARGIN-BOTTOM: 5px
}
#eval_faq #marks DIV IMG {
	CURSOR: pointer
}
#btn_scanty {
	WIDTH: 164px; HEIGHT: 20px
}
#btn_all_explain {
	WIDTH: 102px; HEIGHT: 20px
}
#btn_detailed {
	WIDTH: 137px; HEIGHT: 20px
}
#btn_answer_to_another_faq {
	WIDTH: 177px; HEIGHT: 20px
}
#podcasts {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#podcasts LI {
	WIDTH: 100%
}
#podcasts LI TD {
	VERTICAL-ALIGN: top
}
#podcasts LI .media {
	FLOAT: left
}
#podcasts LI .text {
	FLOAT: left
}
#podcasts LI .media {
	PADDING-RIGHT: 1.2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.5em; PADDING-TOP: 0px
}
#podcasts LI .image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0px
}
#podcasts LI .chars {
	FONT-SIZE: 0.85em; TEXT-ALIGN: center
}
#podcasts LI .chars A {
	FONT-SIZE: 1.1em
}
#podcasts LI .chars A SPAN {
	TEXT-TRANSFORM: uppercase
}
#podcasts LI .date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.6em; COLOR: #646464; PADDING-TOP: 0.1em
}
#podcasts LI .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0.6em
}
#podcasts LI .desc {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.priceSelectorBox {
	FONT-SIZE: 13px
}
.priceSelectorBox2 {
	FONT-SIZE: 13px
}
.priceSelectorBox3 {
	FONT-SIZE: 13px
}
.priceSelectorBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.priceSelectorBox2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 1em
}
.priceSelectorBox3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4em; PADDING-TOP: 0px
}
.priceSelectorLink {
	FONT-SIZE: 13px; COLOR: #f0be32; LINE-HEIGHT: 1.5
}
.tariffZonePrices {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.tariffZonePrices TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
#contextInputControl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
#contextInputControl #contextInput {
	FONT-SIZE: 1.2em; WIDTH: 270px; MARGIN-RIGHT: 10px; FONT-FAMILY: Verdana,sans-serif
}
#contextInputControl .submitButton {
	CURSOR: pointer; POSITION: relative; TOP: 3px
}
#contextInputControl #contextList {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; Z-INDEX: 100; BACKGROUND: #fff; LEFT: 0px; VISIBILITY: hidden; OVERFLOW: auto; BORDER-LEFT: #000 1px solid; WIDTH: 318px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 0px; HEIGHT: 7.5em
}
#contextInputControl #contextList DIV {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0.25em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 1px; CURSOR: hand; COLOR: #000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#contextInputControl #contextList DIV.selected {
	BACKGROUND: #0a246a; COLOR: #fff
}
