BODY {
	FONT-SIZE: 10px; BACKGROUND: url(img/fon.jpg) #e8e8ea repeat-x center bottom; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: arial,verdana, tahoma, courier
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: arial, verdana, tahoma, arial,courier new
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial,verdana,tahoma
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: arial,verdana,tahoma; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5b5f68; FONT-FAMILY: arial,verdana,tahoma; TEXT-DECORATION: none
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px; COLOR: red; FONT-FAMILY: arial,verdana,tahoma; TEXT-DECORATION: none
}
.brg {
	BACKGROUND: url(img/tph.jpg) no-repeat left top
}
.topright {
	BACKGROUND: url(img/topright.jpg)
}
.menu {
	BACKGROUND: url(img/menu.jpg)
}
.menu A {
	MARGIN-TOP: 700px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12px; COLOR: #000000; MARGIN-RIGHT: 12px; FONT-FAMILY: arial,Arial, Verdana; POSITION: relative; TOP: -10px; TEXT-DECORATION: none
}
.menu A:hover {
	COLOR: red
}
.news {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: arial,verdana,tahoma
}
.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #888888; FONT-FAMILY: arial,verdana,tahoma; TEXT-DECORATION: none
}
.cnt {
	BACKGROUND: url(img/tps.jpg) repeat-x center top
}
.content {
	BACKGROUND: white
}
.abc {
	POSITION: relative; TOP: 0px
}
.block {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: arial,verdana,tahoma
}
.blc {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.index {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; COLOR: #777777; BORDER-BOTTOM: 1px solid
}
.c_link {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: arial,verdana,tahoma; TEXT-DECORATION: none
}
.c_link:hover {
	TEXT-DECORATION: underline
}
.bottom {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: arial,verdana,tahoma
}
