BODY {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TABLE {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TD {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
P {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
BR {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
LI {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
TD {
	FONT-SIZE: 12px
}
.small TD {
	FONT-SIZE: 8px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A:link {
	COLOR: #ff0000
}
A:visited {
	COLOR: #ff0000
}
A:active {
	COLOR: #ff0000
}
.skipNav {
	MARGIN-TOP: 2em; FONT-SIZE: 1pt; MARGIN-BOTTOM: 2em; COLOR: #fff
}
.skipNav A {
	COLOR: #fff
}
.globalfooter {
	MARGIN-TOP: 2em; FONT-SIZE: 7.5pt
}
IMG.flushRight {
	FLOAT: right; MARGIN: 3px
}
.disclaimer {
	FONT-SIZE: 7.5pt
}
.prodImp {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #f00
}
.bigBox {
	BORDER-RIGHT: #ccc thin solid; BORDER-TOP: #ccc thin solid; BORDER-LEFT: #ccc thin solid; WIDTH: 80%; BORDER-BOTTOM: #ccc thin solid
}
TABLE.boxt {
	BORDER-RIGHT: #f00 thin solid; BORDER-TOP: #f00 thin solid; BORDER-LEFT: #f00 thin solid; BORDER-BOTTOM: #f00 thin solid
}
.template {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
.button A {
	BORDER-RIGHT: #fff solid; PADDING-RIGHT: 7px; BORDER-TOP: #fff solid; PADDING-LEFT: 7px; FONT-SIZE: 10pt; RIGHT: -1px; BACKGROUND: url(/images/brnotch3.gif) #f63 no-repeat right bottom; PADDING-BOTTOM: 7px; MARGIN: 10px 0px; BORDER-LEFT: #fff solid; COLOR: #fff; BOTTOM: -1px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff solid
}
.button A:link {
	COLOR: #ffffff
}
.button A:visited {
	COLOR: #ffffff
}
.button A:active {
	COLOR: #ffffff
}
.button-white A {
	BORDER-RIGHT: #f96920 0px solid; PADDING-RIGHT: 15px; BORDER-TOP: #f96920 2px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(/images/button-off.gif) no-repeat right bottom; PADDING-BOTTOM: 4px; BORDER-LEFT: #f96920 2px solid; COLOR: #f96920; PADDING-TOP: 2px; BORDER-BOTTOM: #f96920 0px solid; TEXT-DECORATION: none
}
A.button-white:hover {
	BORDER-LEFT-COLOR: #ff0000; BACKGROUND: url(/images/button-on.gif) no-repeat right bottom; BORDER-BOTTOM-COLOR: #ff0000; COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BORDER-RIGHT-COLOR: #ff0000
}
.callouts {
	FLOAT: right
}
.callouts P {
	BORDER-RIGHT: #f63 thin solid; PADDING-RIGHT: 3px; BORDER-TOP: #f63 thin solid; PADDING-LEFT: 3px; FONT-SIZE: 7.5pt; RIGHT: -1px; BACKGROUND: url(/images/brnotch2.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; BORDER-LEFT: #f63 thin solid; WIDTH: 152px; COLOR: #333; BOTTOM: -1px; PADDING-TOP: 2px; BORDER-BOTTOM: #f63 thin solid
}
.coHeader {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9.5pt; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px
}
.coHeader A {
	COLOR: #f00
}
.coHeader A:hover {
	COLOR: #f00
}
.coBox {
	BORDER-RIGHT: #f63 thin solid; PADDING-RIGHT: 3px; BORDER-TOP: #f63 thin solid; PADDING-LEFT: 3px; FONT-SIZE: 7.5pt; BACKGROUND: url(/images/brnotch2.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; BORDER-LEFT: #f63 thin solid; WIDTH: 152px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #f63 thin solid
}
.coBox LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px
}
.coBox INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px
}
.calloutSearch {
	MARGIN-TOP: 100px; FLOAT: right
}
.calloutSearch P {
	BORDER-RIGHT: #f63 thin solid; PADDING-RIGHT: 3px; BORDER-TOP: #f63 thin solid; PADDING-LEFT: 3px; FONT-SIZE: 7.5pt; RIGHT: -1px; BACKGROUND: url(/images/brnotch2.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; BORDER-LEFT: #f63 thin solid; WIDTH: 152px; COLOR: #333; BOTTOM: -1px; PADDING-TOP: 2px; BORDER-BOTTOM: #f63 thin solid
}
P.pop {
	MARGIN-TOP: 20px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 3em; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 15px; MARGIN-LEFT: 20px; COLOR: #787878; LINE-HEIGHT: 1em; PADDING-TOP: 10px; BORDER-BOTTOM: #f63 5px solid; FONT-STYLE: italic
}
.sptName {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.sptSku {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px
}
.sptHeader {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; MARGIN: 2px 0px; PADDING-TOP: 1px; BACKGROUND-COLOR: #cc9
}
.sptVerifyHeader {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #f00
}
.sptVerify {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000
}
.sptWarranty {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.sptWarranty A {
	FONT-WEIGHT: normal
}
.sptSelectProd {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #787878; PADDING-TOP: 0px
}
.sptImg {
	BORDER-RIGHT: #ccc thin solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc thin solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #ccc thin solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc thin solid
}
.weberror {
	BORDER-RIGHT: #f00 thin solid; PADDING-RIGHT: 2px; BORDER-TOP: #f00 thin solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #f00 thin solid; PADDING-TOP: 2px; BORDER-BOTTOM: #f00 thin solid; BACKGROUND-COLOR: #fcc
}
.faqList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.lst LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sml {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px
}
.warning {
	FONT-WEIGHT: bold; COLOR: #f00
}
.important {
	COLOR: #f00
}
.note {
	FONT-WEIGHT: bold; COLOR: #f00
}
IMG.rule {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 3px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.h6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px; FONT-STYLE: oblique
}
.sptTable {
	MARGIN: 0px 0px 5px; WIDTH: 100%
}
.sptTable TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.classSpecialSel {
	FONT-SIZE: 7pt; FONT-FAMILY: verdana
}
.menutitle {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 140px; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: left
}
.submenu {
	FONT-SIZE: 10px; MARGIN-BOTTOM: 0.5em
}
.fmt {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #999; FONT-FAMILY: verdana, helvetica, arial, sans-serif
}
SELECT.DDright {
	FLOAT: right
}
HR.red {
	BORDER-RIGHT: #f00 1px solid; BORDER-TOP: #f00 1px solid; DISPLAY: block; MARGIN: 1.5em 10px; BORDER-LEFT: #f00 1px solid; BORDER-BOTTOM: #f00 1px solid
}
.redbox {
	BORDER-RIGHT: #f00 thin solid; PADDING-RIGHT: 3px; BORDER-TOP: #f00 thin solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f00 thin solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f00 thin solid; BACKGROUND-COLOR: #ffcc33
}
.flagTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.flagTable SELECT {
	MARGIN-TOP: 10px
}
.flagTable IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.dlrTable2 TD {
	FONT-SIZE: 10pt; MARGIN: 3px; WHITE-SPACE: nowrap
}
.disabled TD {
	FONT-SIZE: 10pt; MARGIN: 3px; COLOR: #ccc; WHITE-SPACE: nowrap
}
.abled TD {
	FONT-SIZE: 10pt; MARGIN: 3px; COLOR: #000; WHITE-SPACE: nowrap
}
.th TD {
	FONT-WEIGHT: bold
}
.dlrTable SELECT {
	MARGIN-TOP: 10px
}
IMG.dealerTypeSelected {
	BORDER-RIGHT: #f00 solid; BORDER-TOP: #f00 solid; BORDER-LEFT: #f00 solid; BORDER-BOTTOM: #f00 solid
}
IMG.dealerTypeNotSelected {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dlrImageSelected {
	BORDER-RIGHT: #f00 solid; PADDING-RIGHT: 5px; BORDER-TOP: #f00 solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f00 solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f00 solid
}
.dlrImageNotSelected {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: medium none; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: medium none; PADDING-TOP: 5px; BORDER-BOTTOM: medium none
}
P.error {
	FONT-WEIGHT: bold; COLOR: #f00
}
TABLE.boxed {
	BORDER-RIGHT: #ccc thin solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc thin solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc thin solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc thin solid
}
:link IMG.dealerLocator {
	BORDER-RIGHT: #f00 thin solid; PADDING-RIGHT: 2px; BORDER-TOP: #f00 thin solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f00 thin solid; PADDING-TOP: 2px; BORDER-BOTTOM: #f00 thin solid
}
.problem {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Sans-serif
}
.solution {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; FONT-FAMILY: Verdana, Arial, Sans-serif
}
.warning {
	FONT-WEIGHT: 700; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Sans-serif
}
.important {
	FONT-SIZE: 10pt; COLOR: #000066; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Sans-serif; TEXT-DECORATION: underline
}
.dealerP {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
